<div class="card mb-3 col-md-8">
	<div class="row">
		<div class="col-md-4">
       
	   {{#if images.length}}
			<img src={{images.0.url}} class="img-fluid" />
	   {{/if}}
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{title}}</h5>
				<p class="card-text">{{content}}...</p>
				<p class="card-text">
					<small class="text-muted"> -{{user.username}}</small>
				</p>
				<a href="/posts/{{id}}"  class="btn text-light btn-warning">
					View full post
				</a>
			</div>
		</div>
	</div>
</div>
</div>
