

{{!-- {
"id": 1,
,
"title": "Why MVC is so important",
"content": "MVC allows developers to maintain a true seperation of concers,
devising their code between the Model layer for data, the view layer for design,and the controller layer for application logic",
"user_id": 1,
"post_id": null,
"createdAt": "2022-10-02T23:58:38.000Z",
"updatedAt": "2022-10-02T23:58:38.000Z"
} --}}


<section class="container mt-5">

	<section class="row">
		<section class="col-md-6">
		
			<section class="card">
				<section class="card-body">
					<h5 class="card-title">{{post.title}}</h5>
					<p class="card-text">{{post.content}}</p>			
				</section>
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-end">post by -{{post.user.username}}</li>
				</ul>
			
			 {{!-- To check if the user is currently logged is the owner of the post --}}
			{{{compare user_id post.user_id}}}


			<section class="card-footer text-muted">
				posted on {{post.createdAt}}
			</section>

			</section>

		</section>

		{{!-- comment section  --}}
     	<section class="col-md-5 mt-5">
			<form action="/campgrounds/62a33b208538abe12b7f02a4/reviews" method="post" class="mb-5 validated-form " novalidate>
				<h3 class="mb-4">Leave a comment</h3>
				<section class="mb-4">
						<textarea class="form-control" name="review[body]" id="body" cols="30" rows="4" required></textarea>
						<section class="valid-feedback">
							Looks good!
						</section>
				</section>
				<section class="d-flex justify-content-end">
					<button class="btn btn-success ">Submit</button>
				</section>	
			</form>
  		</section>

	
	
</section>