{{> edit-modal}}
<section class="container mt-5">

	<section class="row">
		{{#if loggedIn}}
		<section class="col-md-7">
		{{else}}
		<section class="col-md-10">
		{{/if}}
			<section class="card">
				<section class="card-body">
					<h5 id="post-details-title" class="card-title">{{plainPost.title}}</h5>
					<p id="post-details-content">{{plainPost.content}}</p>			
				</section>
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-end">post by -{{plainPost.user.username}}</li>
				</ul>
			
			 {{!-- To check if the user is currently logged is the owner of the post --}}
			{{{compare user_id plainPost.user_id plainPost.id}}}


			<section class="card-footer text-muted">
				posted on {{plainPost.createdAt}}
			</section>

			</section>

		</section>

		{{!-- comment section  --}}
		{{#if loggedIn}}
     	<section class="col-md-5 mt-5" id="comment-container">
			
			<form action="" method="post" id="comment-form" class="mb-5 validated-form " novalidate>
				<h3 class="mb-4">Leave a comment</h3>
				<section class="mb-4">
						<textarea class="form-control" name="comment[body]" id="comment-text-area" cols="30" rows="4" required></textarea>
						<section class="valid-feedback">
							Looks good!
						</section>
				</section>
				<section class="d-flex justify-content-end">
					<button type="submit" class="btn btn-success ">Submit</button>
				</section>	
			</form>
		    <script defer src='/js/addComment.js'></script>
        </section>
		{{/if}}


<div class="container col-md-12">
<div class="row d-flex justify-content-between" id="comments-container">
	{{#if plainPost.comments.length}}
	<h3 class="mt-3 text-center">Comments</h3>
	{{/if}}

   {{{renderComments plainPost.comments user_id plainPost.createdAt}}}



</div>
</div>

</section>

<script src="/js/editPost.js"></script>
